<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onion.service.user.mapper.UserMapper">
    <select id="findUserById" parameterType="int" resultMap="com.onion.mapper.user">
        SELECT * from small_user WHERE id = #{0}
    </select>
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.onion.pojo.user.User">
      INSERT INTO small_user (
        small_user.userId,
        small_user.phone,
        small_user.password,
        small_user.enable,
        small_user.createDate,
        small_user.updateDate
      ) VALUES (
        #{userId},
        #{phone},
        #{password},
        #{enable},
        NOW(),
        NOW()
      )
    </insert>
    <select id="findUserByPhone" parameterType="java.lang.String" resultMap="com.onion.mapper.user">
        SELECT * from small_user where small_user.phone = #{phone}
    </select>

    <select id="findTabs" resultType="com.onion.pojo.news.Tab">
        select * from news_type
    </select>
</mapper>