<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onion.service.user.mapper.UserMapper">
    <resultMap id="user" type="com.onion.pojo.user.User">
        <result column="id" property="id" />
        <result column="createDate" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="updateDate" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <select id="findUserById" parameterType="int" resultType="com.onion.pojo.user.User">
        SELECT * from user WHERE id = #{0}
    </select>
</mapper>